body,html{
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	height: 100%;
}

/*Navigation*/
#nav .navbar{
	height: 50px;
	background-color: #fff;
	padding: 0px 100px;
}
#nav .nav-item .nav-link{
	text-transform: uppercase;
	font-weight: 600;
	height: 50px;
	width: 120px;
	text-align: center;
	font-size: 0.8rem;
	color: #0B7F6A;
}
#nav .active > .nav-link {
	color: #fff;
	background-color: #0B7F6A;
}

#nav .dropdown-menu{
	font-size: 0.8rem;
	text-transform: uppercase;
	margin-top: -20px;
	text-align: left;
	background-color: #fff;
	border-radius: 0;
	padding: 0px;
	border: 0px;
}
#nav .dropdown-menu .dropdown-item{
	padding-bottom: 10px;
	color: #0B7F6A;
	font-weight: 600;
}
#nav .dropdown-menu a:hover{
	color:#fff;
	background-color: #0B7F6A;
}
#nav .line-top{
	background-color: #0B7F6A;
	height: 10px;
}


/*Dashboard*/
#dashboard .content{
	padding:50px 100px;
}
#dashboard a{
	text-decoration: none;
	color: #000;
}
#dashboard .card:hover {
	margin-top: -20px;
}
.card{
	border-radius: 10px;
	text-align: center;
	border-color: transparent;
	transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.card p{
	padding-top: 20px;
	font-weight: 600;
	font-size: 0.8rem;
	color: #a5a5a5;
}
.card h6, span{
	color:#0B7F6A;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: 700;
}

#sub-content .title h3{
	color: #0B7F6A;
	font-weight: 700;
	text-transform: uppercase;
}


/*Farmers*/
#farmers .content{
	padding:50px 100px;
}
#farmers .content h3{
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	font-weight: 700;
}
#farmers .content a{
	color: #0B7F6A;
	font-weight: 400;
	text-transform: uppercase;
}
#farmers .content a:hover{
	text-decoration: none;
}


/*Products*/
#products .content{
	padding:50px 100px;
}
#products .content h3{
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-weight: 700;
}
#products .content a{
	color: #0B7F6A;
	font-weight: 400;
	text-transform: uppercase;
}
#products .content a:hover{
	text-decoration: none;
}
table thead td{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	color: #0B7F6A;
}



/*Reports*/
#reports .content{
	padding:50px 100px;
}
#reports .content h3{
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-weight: 700;
}
#reports .content a{
	color: #0B7F6A;
	font-weight: 400;
	text-transform: uppercase;
}
#reports .content a:hover{
	text-decoration: none;
}


/*investment*/
#investment .content{
	padding:50px 100px;
}
#investment .content h3{
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: 700;
}
#investment .content a{
	color: #0B7F6A;
	font-weight: 400;
	text-transform: uppercase;
}
#investment .content a:hover{
	text-decoration: none;
}


/*Add Farmers*/
#add-farmers .content{
	padding:50px 100px;
}
#add-farmers .content h3{
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-weight: 700;
}
#add-farmers .content button{
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}
#add-farmers .content a:hover{
	text-decoration: none;
}
#add-farmers .card, label {
	text-align: left;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 0.3em;
	text-transform: uppercase;	
}
#add-farmers .sector{
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	color:#0B7F6A;
	padding-bottom: 30px;
}
#add-farmers .form-check label{
	letter-spacing: 0;
	font-weight: 600;
}


/*Add Product*/
#add-product .content{
	padding:50px 100px;
}
#add-product .content h3{
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-weight: 700;
}
#add-product .content button{
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}
#add-product .content a:hover{
	text-decoration: none;
}

/*profile*/
#profile .content{
	padding:50px 100px;
}
#profile .content h3{
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-weight: 700;
}
#profile .content a{
	color: #0B7F6A;
	font-weight: 400;
	text-transform: uppercase;
}
#profile .content a:hover{
	text-decoration: none;
}



.hide{
display:none;
}

.show{
display:block;
}







#nav-users .navbar{
	background-color: #0B7F6A;
	padding: 10px 100px;
	transition: all 1s ease;
}
#nav-users .nav-item .nav-link{
	text-transform: uppercase;
	font-weight: 600;
	width: 100px;
	text-align: center;
	font-size: 0.8rem;
	color: #fff;
}
#nav-users .nav-item .nav-invest{
	background-color: #0B7F6A;
	color: #fff;
	width: 150px;	
	border: 2px solid #fff;
	border-radius: 55px;
}
#nav-users .nav-item .nav-invest:hover{
	background-color: #fff;
	color: #0B7F6A;
	width: 150px;	
	border: 2px solid #fff;
	border-radius: 55px;
}

#nav-users .active > .nav-link {
	color: #fff;
	background-color: #0B7F6A;
}

.modal h3{
	text-transform: uppercase;
	font-weight: 700;
	color: #0B7F6A;
}
.modal button{
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;
}


#featured{
	background-color: #0B7F6A;
	height: 100%;
}

#head .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#head .carousel-caption {
	background-image: linear-gradient(to right, rgba(11,127,106, 0.9), rgba(0,0,0,0.5));
	width: 100%;
	text-align: center;
	right: 0;
	left: 0;
	height: 100%;
	bottom: 0%;

}

#head .carousel-caption h3{
	margin-top: 30%;
	color: #fff;
	font-size: 3.5rem;
	letter-spacing: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}
#head .carousel-caption{
	color: #fff;
}



#statistics h2{
	text-transform: uppercase;
	font-weight: 700;
	color: #0B7F6A;
	text-align: center;
	padding: 60px 0px;
}


#featured{
	padding: 50px 100px;
}
#featured .card{
	transition: 0.3s ease-in-out;
}
#featured .card:hover{
	margin-top: -20px;
}
#featured .col-xl-6{
	padding-top: 20px;
}
#featured h2{
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	text-align: center;
	padding: 120px 0px;
}

