{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PhilHarvest</title>
	<link rel="icon"  type="image/png" href="{% static 'img/logo_standalone.png' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>
<body>
	<div id="nav">
		<div class="line-top"></div>
		<nav class="navbar navbar-expand-lg navbar-light">
		  <a class="navbar-brand" href="{% url 'portal:dashboard' %}"><img src="{% static 'img/logo_standalone.png' %}" height="45"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'portal:dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:farmers' %}">Farmer</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:products' %}">Commodity</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:report' %}">Report</a>
		      </li>
		      <li class="nav-item ml-auto">
		        <a class="nav-link" href="{% url 'portal:investment' %}">Investment</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav md-auto">
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          My account
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="{% url 'portal:profile' %}"><i class="fa fa-user"></i> Profile</a>
		           <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i> Logout</a>
		        </div>
		      </li>
		    </ul>
		</nav>
	</div>
	<div id="dashboard" class="dashboard">
		<div class="content">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
					<div class="card">
						<a href="{% url 'portal:farmers' %}">
						  <div class="card-body">
						  	<span class="fa fa-users fa-5x"></span>
						    <h6 class="card-title">Farmers</h6>
						    <p class="card-text">1,000 Registered Farmers</p>
						  </div>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
					<div class="card">
						<a href="{% url 'portal:products' %}">
						  <div class="card-body">
						  	<span class="fa fa-leaf fa-5x"></span>
						    <h6 class="card-title">Products</h6>
						    <p class="card-text">1,000 Registered Products</p>
						  </div>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
					<div class="card">
						<a href="{% url 'portal:report' %}">
						  <div class="card-body">
						  	<span class="fa fa-book fa-5x"></span>
						    <h6 class="card-title">Report</h6>
						    <p class="card-text">345 Recorded Reports</p>
						  </div>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
					<div class="card">
						<a href="{% url 'portal:investment' %}">
						  <div class="card-body">
						  	<span class="fa fa-handshake fa-5x"></span>
						    <h6 class="card-title">Investments</h6>
						    <p class="card-text">600 Active Investors</p>
						  </div>
						</a>
					</div>
				</div>

				
			</div>

			<hr>
			<div id="sub-content" class="sub-content">
				<div class="title">
					<h3>Agriculture</h3>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="embed-responsive embed-responsive-16by9">
						  <iframe class="embed-responsive-item" src="https://analytics.hack4ph.gov.ph/pentaho/api/repos/%3Ahome%3Acodeplay%3Adashboard.xdash/viewer?fbclid=IwAR1CIEn1t0aSir4MyzFpYAddqkX_5uWJC-jqiqVoLzsAoqacc--vuxiC3gE"></iframe>
						</div>
					</div>
		
				</div>
				<div class="title" style="padding-top: 100px;">
					<h3>Poultry</h3>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="embed-responsive embed-responsive-16by9">
						  	<iframe class="embed-responsive-item" src="https://analytics.hack4ph.gov.ph/pentaho/api/repos/%3Ahome%3Acodeplay%3Apoultryvolumedashboard.xdash/viewer?fbclid=IwAR3_lgGWpPG9XTRTBmXRAGUae76F0ugFu1YgvqaksVA1ppDj9lIu2YKHCBg"></iframe>
						</div>
					</div>
				</div>
				<div class="title" style="padding-top: 100px;">
					<h3>Aquaculture</h3>
				</div>
				<div class="row">
					<div class="col-xl-12">
							<div class="embed-responsive embed-responsive-16by9">
						  		<iframe class="embed-responsive-item" src="https://analytics.hack4ph.gov.ph/pentaho/api/repos/%3Ahome%3Acodeplay%3Afishvolumedashboard.xdash/viewer?fbclid=IwAR1M9lUUy4jCsoE3uSeMKpA2Qxr9m-KkEvpw4YkP17iGBwkDxhXarc5JEnQ"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>