{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PhilHarvest</title>
	<link rel="icon"  type="image/png" href="{% static 'img/logo_standalone.png' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body style="height: auto;">
	<div id="login" class="login">
		<div class="container" style="margin-top:10%;">
			<div class="row">
				<div class="col-xl-6">
					<img src="{% static 'img/logo.png' %}" height="400px;">
				</div>
				<div class="col-xl-6">
					<div class="card">
						<div class="card-body">
							<h3 style="font-weight: 700;color:#0B7F6A">LOGIN</h3>
							<hr>
							<div class="form-group">
				              <label>username</label>
				              <input type="text" name="username" class="form-control">
				            </div>
				            <div class="form-group">
				              <label>password</label>
				              <input type="password" name="username" class="form-control">
				            </div>
				            <div class="form-group" style="padding-top: 35px;text-align: left;">
				              <div class="row">
				              	<div class="col-xl-6">
				              		<input type="checkbox" name="remember" value=" "> <label>remember</label>
				              	</div>
				              	<div class="col-xl-6" style="text-align: right;">
				              		<label><a href="">Forgot password?</a></label>
				              	</div>
				              </div>
				              <button class="btn btn-info btn-block"><i class="fa fa-sign-in-alt"></i></button>
				            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
	

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>